#sadrzaj{
    padding-top:1%;
}

.cijena{
    text-align: center;
}

.card-title{
    text-align: center;
}


.list-group{
    text-align: center;

}

.card-body:hover{
    background-color: #778899;
    color:white;
}

#usredini{
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}

#inputPrice{
    width: 25%;
    text-align: center;
    display:inline-block
}

#desni{
    width: 40%;
    float: right;
    margin-right: 10%;
    padding-left: 4%;
}


#lijevi{
    width: 40%;
    float: left;
    margin-left: 10%;
}

#slikaProdukta{
    float:right;
    width: 80%;
    border: 3px solid black;
}

#imeProdukta{
    text-align: center;
    width: 100%;
    font-size: 150%;
}
